In [1]:
di={'pradeep':35,'narayan':34,'neelam':23}

In [2]:
print(di)

{'pradeep': 35, 'narayan': 34, 'neelam': 23}

In [3]:
di.keys()

dict_keys(['pradeep', 'narayan', 'neelam'])

In [4]:
di.values()

dict_values([35, 34, 23])

In [11]:
di['neha']=26
di

TypeError: 'int' object does not support item assignment

In [12]:
print(di)

25

In [13]:
d1={'pradeep':35,'narayan':34,'neelam':23}

In [14]:
print(d1)

{'pradeep': 35, 'narayan': 34, 'neelam': 23}

In [15]:
d1['neha']=26
d1

{'pradeep': 35, 'narayan': 34, 'neelam': 23, 'neha': 26}

In [16]:
d1['pradeep']=36

In [17]:
print(d1)

{'pradeep': 36, 'narayan': 34, 'neelam': 23, 'neha': 26}

In [18]:
d1['manish']=36

In [19]:
print(d1)

{'pradeep': 36, 'narayan': 34, 'neelam': 23, 'neha': 26, 'manish': 36}

# Dictionary funcation

# agr dictonary me kis bhi do dictonary ko add kar update nahi kiya jata jiske liy .updae ka upyog kiya jata hai

In [21]:
D1={'apples':300,'banana':80,'gavea':250}

In [22]:
print(D1)

{'apples': 300, 'banana': 80, 'gavea': 250}

In [24]:
D2={'oreng':200,'papaya':350}

In [26]:
D1.update(D2)

In [27]:
print(D1)

{'apples': 300, 'banana': 80, 'gavea': 250, 'oreng': 200, 'papaya': 350}

#popping an elemant
#is methed ka upyog kar ke ap kishi keys and values ko hataya ja sakta hai

In [28]:
D1.pop('banana')

80

In [29]:
print(D1)

{'apples': 300, 'gavea': 250, 'oreng': 200, 'papaya': 350}

# set duplication are not allowend in the set 
#set is an unorder and unindexed collection of elemant with {} ka upyog kiya jata hai

In [34]:
s1={1,'a',True}

In [35]:
print(s1)

{1, 'a'}

#set function 
# union of two set is ka upyog tp diffrent set ko add kiya jata hai ak  banaya jata hai

In [36]:
s1{1,2,3,4,5}

SyntaxError: invalid syntax (3794949171.py, line 1)

In [43]:
print(s1)

{1, 'a'}